<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a56b5a1294.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../../CSS/manager/roledata.css" />
    <link rel="stylesheet" href="../../CSS/manager/addmodalstandart.css">
    <link rel="stylesheet" href="../../CSS/manager/header.css">
    <title>Detalhes do Cargo</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
      <main>
        <div class="header">
          <h2>Operador de Máquinas</h2>
        </div>

        <div class="content">

          <div class="table">
            <table aria-hidden="true">
                <tr>
                  <td><i class="fa-solid fa-scale-balanced fa-xl" style="color: #007b8f;"></td>
                  <td>NR 6</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-scale-balanced fa-xl" style="color: #007b8f;"></td>
                  <td>NR 10</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-scale-balanced fa-xl" style="color: #007b8f;"></td>
                  <td>NR 11</td>
                </tr>
            </table>
          </div>

          <div class="button-add">
            <button class="btnAdd" onclick="showModalAdd(this)">Adicionar NR</button>
          </div>

        </div>
  
        <div class="addModal" id="addModal">
          <form>
            <div class="img-form">
              <i class="fa-solid fa-scale-balanced fa-2xl" style="color: #007b8f;"></i>
            </div>
            <div class="header-form">
              <input class="introInput" type="number" placeholder="Numero">
              <input class="introInput" type="text" placeholder="Título">
            </div>
            <div class="main-form">
              <input class="mainInput" type="text" placeholder="Descrição">
              <input class="mainInput" type="number" placeholder="Carga Horária">
              <textarea class="textArea" name="9" rows="4" cols="50" placeholder="Lista de Requisitos"></textarea>            
            </div>
            <div class="header-form">
              <button class="btnSave">Enviar</button>
              <button onclick="hideModelAdd()" class="btnExit"> <p class="cancel">Cancelar</p></button>
            </div>
          </form>
        </div>
      </main>
      <script src="../../JS/manager/options.js" defer></script>
  </body>
</html>
