<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a56b5a1294.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/manager/addmodaluser.css}">
    <link rel="stylesheet" th:href="@{/css/manager/user.css}">
	<link rel="stylesheet" th:href="@{/css/manager/header.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Gerenciar NR's</title>
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <main>
    <div class="header">
      <h2>Usuários</h2>
    </div>
    <div class="content">
      <div class="button-add">
        <button class="btnAdd" onclick="showModalAddUser(this)">Adicionar Usuários</button>
      </div>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>email</th>
              <th>numero de telefone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr 
              th:each="user : ${listUser}"
              th:data-id="${user.id}"
              th:data-name="${user.name}"
              th:data-lastname="${user.lastname}"
              th:data-login="${user.login}"
              th:data-phoneNumber="${user.phoneNumber}"
              th:data-role="${user.role}"
              class="userItem">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.phoneNumber}">a</td>
                <td style="white-space: nowrap">
                  <button
                    onclick="showModalOptionsUser(this)"
                    style="
                      border: none;
                      height: 40px;
                      width: 40px;
                      border-radius: 15px;
                      background-color: none;
                    "
                    >
                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                  </button>
                </td>
            
            </tr>
          </tbody>
        </table>
      </div>
     
    </div>

    <div class="addModal" id="addModal">
      <form>
        <div class="img-form">
          <i class="fa-solid fa-users fa-2xl" style="color: #007b8f;"></i>
        </div>
        <div class="header-form">
          <input class="introInput" type="text" placeholder="Nome">
          <input class="introInput" type="text" placeholder="Sobrenome">
        </div>
        <div class="main-form">
          <input class="mainInput" type="text" placeholder="Email">
          <input class="mainInput" type="text" placeholder="Telefone">
          <select class="mainInput" name="role" id="role">
            <option value="1" selected>Selecione o Cargo</option>
            <option value="1">Operador de Máquinas</option>
            <option value="1">Operador de Máquinas</option>
            <option value="1">Operador de Máquinas</option>
            <option value="1">Operador de Máquinas</option>
            <option value="1">Operador de Máquinas</option>
          </select>
        </div>
        <div class="header-form">
          <input class="introInput" type="text" placeholder="Senha">
          <input class="introInput" type="text" placeholder="Confirmar Senha">
        </div>
        <div class="header-form">
          <button class="btnSave">Enviar</button>
          <button onclick="hideModelAdd()" class="btnExit"> <p class="cancel">Cancelar</p></button>
        </div>
      </form>
    </div>
    

    <div class="options" id="options">
  		<button class="btnOption" id="btnOptionUser" onclick="redirectToInfo()">
    		<i class="fa-solid fa-eye fa-lg" style="color: #007b8f;"></i> Informações
  		</button>
  		<button class="btnOptionDelete"> <i class="fa-solid fa-trash fa-lg" style="color: #fb5555"></i> Deletar</button>
	</div>

    

  </main>

  <script th:src="@{/js/manager/optionsUser.js}"></script>
</body>
</html>