body{
    display: grid;
    grid-template-columns: 15% 85%;
    min-height: 100%;
}
.logo{
    width: 400px;
}
main{
    height: 100vh;
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
main .question{
    margin-top: 50px;
}
h3{
    color: #007b8f;
}

.intro{
    text-align: center;
}

li{
    list-style: none;
}

.timerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: solid 2px #007b8f;
    border-radius: 5px;
    height: 35px;
    color: #007b8f;
    margin-top: 10px;
}
.timerBox h6{
    margin-top: 5px;
}


.btnExam{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #00A148;
    display: none;
    bottom: 20px;
    right: 100px;
    color: white;
}
.btnExam:hover{
    background-color: #13b35b;
}

@media (max-width: 485px) {
    .logo{
        width: 90%;
    }
}














/* Estilização cards */
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    height: 400px;
    width: 450px;
}
.question-card{
    display: none;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #083C52;
    border-radius: 5px;
    width: 100%;
}
.card-content{
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
}
.card-body{
    width: 100%;
}
.card-body .question {
    width: 100%;
    height: 250px;
    border: none;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
}
.buttons-container .btn{
    border:none;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100px;
    height: 35px;
    background-color: #007b8f;
    color: white;
    border-radius: 5px;
}





@media (max-width:550px) {
    .timerBox{
        width: 70%;
    }
}
@media (max-width:325px) {
    .timerBox{
        width: 90%;
    }
}