body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header{
	display:grid;
	grid-template-columns: 95% 5%;
    background-color: #f9f9f9;
    justify-content: space-evenly;
    align-items: center;
}
#btnLogOut{
    border: none;
    background-color: transparent;
}
main{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
#logoHeader{
    width: 400px;
    height: 140px;
}

#subtitleHeader{
    font-size: 20pt;
    text-decoration: double;
}
#containerCards{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titlePage{
    font-size: 28pt;
    color: #007b8f;
    text-align: center;
    align-self: center;
}
#subtitlePage{
    font-size: 20pt;
    color: black;
    text-decoration: double;
    margin-top: 50px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 280px;
    background-color: white;
    box-shadow: 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.card-content:hover{
    width: 250px;
    height: 270px;
    transition: .5s;
}

.titleCard{
    font-size: 18pt;

}
.iconNRCard{
    width: 70%;
    height: 70%;
}
.btnPerformNR{
    width: 150px;
    height: 50px;
    border: none;
    background-color: #083C52;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.statusNr {
    font-weight: bold;
  }
  
  .valida {
    color: green;
  }
  
  .inconcluida {
    color: gray;
  }
  
  .alerta {
    color: orange;
  }
  
  .vencida {
    color: red;
  }
  
  .reavaliacao {
    color: rgb(0, 0, 0);
  }
  

@media (max-width: 890px) {
    #titlePage{
        font-size: 24pt;
    }
    #containerCards{
        margin-top: 50px;
    }
    #subtitlePage{
        font-size: 20pt;
    }
}

@media (max-width: 450px) {
    header{
        display:grid;
        grid-template-columns: 80% 20%;  
    }
    #subtitlePage{
        font-size: 16pt;
    }
}

