<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/client/thanks.css" />
    <title>Agradeçimento</title>
  </head>
  <body>
    <main>
      <img
        src="../../IMAGES/IdentidadeVisual/Logos Grupo Novaes.png"
        alt="Logo_NOVAES"
      />

      
      <div class="intro">
        <h1>Recebemos seu formulário!</h2>
        <h4>
            Agradecemos por toda a dedicação em assistir aos vídeos e realizar o
            formulário! Agora aguarde, pois em breve, entraremos em contato.
        </h4>
      </div>

      <div class="form">
        <table>
            <tbody>
            <tr>
              <th class="first-col"></th>
              <th>Excelente<br>😁</th>
              <th>Boa<br>😀</th>
              <th>Ruim<br>😐</th>
              <th>Péssima<br>☹️</th>
            </tr>
            <tr>
              <td class="first-col">Como foi sua primeira experiência usando a nova plataforma de Treinamentos NOVAES?</td>
              <td><input name="point#1" value="none" type="radio" class="radio"></td>
              <td><input name="point#1" value="none" type="radio" class="radio"></td>
              <td><input name="point#1" value="none" type="radio" class="radio"></td>
              <td><input name="point#1" value="none" type="radio" class="radio"></td>
            </tr>
            <tr>
                <td class="first-col">Como foi sua primeira experiência usando a nova plataforma de Treinamentos NOVAES?</td>
                <td><input name="point#2" value="none" type="radio" class="radio"></td>
                <td><input name="point#2" value="none" type="radio" class="radio"></td>
                <td><input name="point#2" value="none" type="radio" class="radio"></td>
                <td><input name="point#2" value="none" type="radio" class="radio"></td>
              </tr>
              <tr>
                <td class="first-col">Como foi sua primeira experiência usando a nova plataforma de Treinamentos NOVAES?</td>
                <td><input name="point#3" value="none" type="radio" class="radio"></td>
                <td><input name="point#3" value="none" type="radio" class="radio"></td>
                <td><input name="point#3" value="none" type="radio" class="radio"></td>
                <td><input name="point#3" value="none" type="radio" class="radio"></td>
              </tr>
          </tbody>
        </table>

        <div class="textarea">
            <label for="sugestion">Sugestões / Melhorias</label>
            <textarea  name="sugestion" id="sugestion" placeholder="Deixe aqui Sugestões e/ou Melhorias para a plataforma."></textarea>
        </div>
        

        <div class="radio-input">
          <input
            value="value-1"
            name="value-radio"
            id="value-1"
            type="radio"
            class="star s1"
          />
          <input
            value="value-2"
            name="value-radio"
            id="value-2"
            type="radio"
            class="star s2"
          />
          <input
            value="value-3"
            name="value-radio"
            id="value-3"
            type="radio"
            class="star s3"
          />
          <input
            value="value-4"
            name="value-radio"
            id="value-4"
            type="radio"
            class="star s4"
          />
          <input
            value="value-5"
            name="value-radio"
            id="value-5"
            type="radio"
            class="star s5"
          />
        </div>

        <button class="btnSendFeedback">Enviar</button>
      </div>

      <section id="text_footer">
        <p id="titulo_footer"><b>Política de Privacidade</b></p>
        <p id="devby">&copy; 2024 Grupo Novaes - Todos os direitos reservados. Desenvolvidos por programadores Novaes</p>
    </section>
    </main>

  </body>
</html>
